{% extends 'base.html' %}
{% load static%}
{% block title %}Home page{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home_style.css'%}">
<link rel="stylesheet" href="{% static 'css/card_style.css' %}">\

<style>
    .custom-background-shadow {
        background: rgba(0, 0, 0, 0.3);
        transition: background 0.3s ease, backdrop-filter 0.3s ease;
    }

    .custom-background-shadow:hover {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
</style>

{% endblock styles %}


{% block content %}

<div class="mx-5">
    <section class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="fw-bold display-5">FROM VISION <br> TO REALITY</h1>
                <br>
                <p class="lead">Be a part of something <span class="fw-bold">Extraordinary!!</span></p>
                <div class="d-flex mt-4">
                    <div class="input-group">
                        <select id="search-method" class="form-select rounded-start-pill search-select">
                            <option value="search_titles">Project</option>
                            <option value="search_categories">Category</option>
                            <option value="search_tags">Tag</option>
                        </select>
                        <input id="search-input" type="text" class="form-control" placeholder="search for a project">
                        <button class="btn btn-danger rounded-end-pill" id="search-btn">
                            <img src="{% static 'imgs/magnifiying-glass_93642.png' %}" alt="" width="20px" height="20px">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- الصورة -->
            <div class="col-md-6 text-center">
                <img src="{% static 'imgs/Ajuda humanitária em doações e assistência a cães _ Vetor Premium.jpeg' %}" alt="Hero Image" class="img-fluid" height="500px"
                    width="500px">
            </div>
        </div>
    </section>
</div>

<div class="container">
    <h3 class="text-center my-4 mx-auto fw-semibold text-danger">TOP RATED PROJECTS</h3>
    <div id="topRatedProjectsCarousel" class="carousel slide rounded-5" style="overflow: hidden; margin-inline: 8rem;" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for pr in top_rated_projects %}
            <button type="button" data-bs-target="#topRatedProjectsCarousel" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %}active{% endif %}"
                aria-current="true" aria-label="{{pr.title}}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for pr in top_rated_projects %}
            {{forloop.counter}}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <img src="{{ pr.images.all.0.image.url }}" class="d-block w-100 h-300" style="max-height: 500px;" alt="{{ pr.title }}">
                <div class="carousel-caption d-none d-md-block px-4 text-start custom-background-shadow" style="top: 0 !important; left: 0 !important; inset: 0;">
                    <h5 class="text-start">{{ pr.title }}</h5>
                    <p class="text">{{ pr.details }}</p>
                    <div class="mb-2">
                        <i class="fa-star text-warning {% if pr.total_rating >= 1 %}fas{% else %}far{% endif %}"></i>
                        <i class="fa-star text-warning {% if pr.total_rating >= 2 %}fas{% else %}far{% endif %}"></i>
                        <i class="fa-star text-warning {% if pr.total_rating >= 3 %}fas{% else %}far{% endif %}"></i>
                        <i class="fa-star text-warning {% if pr.total_rating >= 4 %}fas{% else %}far{% endif %}"></i>
                        <i class="fa-star text-warning {% if pr.total_rating >= 5 %}fas{% else %}far{% endif %}"></i>
                        <small>{{ pr.total_rating }}/5.0</small>
                    </div>
                    <a class="btn btn-danger mt-2" href="{% url 'project-detail' pr.pk %}">View details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h3 class="text-center my-5">
        <span class="fw-semibold text-danger">FEATURED PROJECTS</span>
    </h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in featured_projects %}
        {% include 'partials/_project_card.html' with project=p %}
        {% empty %}
        <p class="text-center">No projects available.</p>
        {% endfor %}
    </div>

    <h3 class="text-center my-5 fw-semibold text-danger">LASTEST PROJECTS</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in latest_projects %}
        {% include 'partials/_project_card.html' with project=p %}
        {% empty %}
        <p class="text-center">No projects available.</p>
        {% endfor %}
    </div>


    <h3 class="text-center my-5 fw-semibold text-danger">CATEGORIES</h3>
    <div class="row g-4 justify-content-center">
        {% for cat in categories %}
        <a class="d-block col-md-4 col-lg-3" style="text-decoration: none;" href="{% url 'category-detail' cat.id %}">
            <div class="card text-center p-4 shadow-sm category-card">
                <h5 class="fw-semibold">{{cat.name}}</h5>
                <p class="mb-0">{{cat.projects_count}} Projects</p>
            </div>
        </a>
        {% endfor %}
    </div>

    <h3 class="text-center my-5 fw-semibold text-danger">ABOUT US</h3>
    <div class="row g-4 justify-content-center">
        <p class="lead text-center">We are a crowdfunding platform that connects innovators with supporters. Our mission is to help people bring their ideas to life through
            collaboration, transparency, and collective support. Every contribution matters — together, we build a better future</p>
    </div>
</div>





{% endblock content%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#search-btn').click(function () {
            const searchBy = $('#search-method').val().trim()
            const query = $('#search-input').val().trim();

            const anchor = document.createElement("a")

            if (query !== '') {
                anchor.href = `{% url 'projects' %}?${searchBy}=${encodeURIComponent(query)}`;
                anchor.click();
            }
        });

        $('#search-input').on('keypress', function (e) {
            if (e.which === 13) {
                $('#search-btn').click();
            }
        });
    });
</script>
{% endblock scripts%}