<nav class="navbar navbar-expand-lg rounded-5 mx-5 mt-3 mb-1 shadow-sm">
    <div class="container-fluid px-5">
        <a class="navbar-brand fw-semibold text-danger" href="{% url 'landing' %}">CrowdFunding<span class="special-color">.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-black fw-semibold" aria-current="page" href="{% url 'landing' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black fw-semibold" aria-current="page" href="{% url 'projects' %}">Projects</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center gap-1">
                {% if not user.is_superuser %}
                <a class="btn btn-outline-danger ms-auto" href="{% url 'project-create'%}">
                    <small>Start your project</small> </a>
                {% endif %}
                <li class="nav-item">
                    <a class="btn text-danger p-2" href="{% url 'profile' %}"><i class="fa fa-user" style="font-size: small;" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="btn text-danger p-2" href="{% url 'account_logout' %}"><i class="fas fa-arrow-right-from-bracket" style="font-size: small;"
                            aria-hidden="true"></i></a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>